{
  "root": true,
  "overrides": [
    {
      "files": ["src/**/*.ts", "test/**/*.ts", "./*.ts"],
      "extends": ["@zero-tech/eslint-config-cpt/node-ts/.eslintrc.json"],
      "rules": {
		"jsdoc/newline-after-description": "off",
        "no-unused-expressions": "off",
        "no-console": "off",
        "no-shadow": "warn",
        "@typescript-eslint/no-shadow": "warn",
        "no-invalid-this": "off"
        // "@typescript-eslint/no-unused-vars": "off" // For debugging
      }
    }
  ]
}