{
  "root": true,
  "overrides": [
    {
      "files": ["src/**/*.ts", "test/**/*.ts", "./*.ts"],
      "extends": ["@zero-tech/eslint-config-cpt/node-ts/.eslintrc.json"],
      "rules": {
        "no-unused-expressions": "off",
        // "no-console": "off", // For debugging
        // "@typescript-eslint/no-unused-vars": "off" // For debugging
      }
    }
  ]
}