node_modules
.env
coverage
coverage.json
typechain
typechain-types
.idea
dist

# Hardhat files
cache
artifacts

# hardhat-tenderly plugin
deployments

*.env
docker
docker*.tgz

# We don't ever use the generated manifests
.openzeppelin
/.vscode

# Don't source control log files from deployment
deploy-*.log

# Local tests and ops
test-data
